{% load jalali_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl" class="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Preload CSS -->
    <link rel="preload" href="{% static 'css/output.css' %}" as="style">
    <link rel="preload" href="{% static 'admin/css/django_jalali.min.css' %}" as="style">
    
    <!-- Load CSS -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/django_jalali.min.css' %}">
    
    <!-- Preload JavaScript -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" as="script">
    <link rel="preload" href="https://code.jquery.com/jquery-3.6.0.min.js" as="script">
    
    <title>{% block title %}دکتر کربلایی فر | پنل پیامکی{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    
    <!-- Prevent FOUC -->
    <style>
        .no-fouc {
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: "#1e40af",
                    }
                }
            }
        }
    </script>
</head>

<body class="no-fouc max-w-xl px-4 pt-12 mx-auto bg-gray-200 lg:max-w-6xl text-gray-900 dark:bg-gray-900 dark:text-white transition-all duration-300">
    {% block body_style %}{% endblock %}

    <div class=" flex flex-wrap items-center justify-between  sm:justify-start  sm:flex-nowrap w-full h-25 p-4 mb-8  sm:gap-4 rounded-b-2xl  sticky top-0  text-black  bg-white/25 backdrop-blur-md shadow-md z-[100]"
        x-data="{ dropdown : false }">
        <!--logo-->
        <h class="text-2xl font-bold ">دکتر کربلایی فر | پنل پیامکی</h>
        <!--hamburger menue-->
        <button class="  p-2 border border-gray-300 sm:hidden" x-on:click="dropdown=!dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 hover:text-sky-600">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
            </svg>
        </button>
        <!--List-->
        <ul class=" list-none flex flex-col sm:flex-row w-full sm:w-auto  sm:flex-grow gap-4 sm:gap-5  text-lg font-medium  bg-black/20 backdrop-opacity-40 sm:backdrop-opacity-0 rounded-t-xl sm:bg-transparent overflow-hidden transition-all duration-400 "
            x-cloak x-bind:class="dropdown ? 'max-h-96 shadow-2xl' : 'max-h-0 sm:max-h-96'">

            <div class=" flex flex-row items-center ">
                <a href="{% url 'visits:home' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 hover:text-sky-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                    <li> خانه
                </a> </li>
            </div>
            <div class=" flex flex-row items-center ">
                <a href="{% url 'visits:visit_list' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 hover:text-sky-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                    </svg>
                    <li>مراجعین
                </a></li>
            </div>
            <div class="flex flex-row items-center">
                <a href="{% url 'visits:appointment_list' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 hover:text-sky-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                    <li>نوبت‌ها
                </a></li>
            </div>
            {% if user.is_superuser %}
            <div class=" flex flex-row items-center ">
                <a href="{% url 'accounts:register' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 hover:text-sky-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                    </svg>
                    <li>ثبت نام کاربر
                </a></li>
            </div>
            {% endif %}
            <div class=" flex flex-row items-center ">
                <a href="{% url 'accounts:logout' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 hover:text-sky-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
                    </svg>
                    <li>خروج
                </a></li>
            </div>
        </ul>
    </div>

    {% block content %}{% endblock %}

    <!-- Load JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <script src="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.js' %}"></script>
    
    <!-- Remove FOUC prevention after load -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.classList.remove('no-fouc');
        });
    </script>
    
    {% block extra_js %}{% endblock %}
</body>

</html>